/* admin_styles.css */
#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin .25s ease-out;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}
#sidebar-heading{
    color: green;
}
/* Añade más estilos personalizados según sea necesario */
#page-content-wrapper{
    margin-left: 3%
}

/* Estilos personalizados */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    object-fit: cover;
}

.toast-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    min-width: 300px;
    border-radius: 10px;
}

.toast-header {
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f8d7da;
    color: #721c24;
}

.toast-body {
    background-color: #f8d7da;
    color: #721c24;
}


.toast .toast-body {
    font-size: 16px;
}

.toast .btn-close {
    filter: invert(1);
}


.form-data-section {
    padding-top: 20px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
    max-width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Opcional, añade un borde al contenedor de imágenes */
    overflow: auto; /* Si hay muchas imágenes, permite desplazamiento horizontal */
}

.image-container img {
    width: 100%;
    height: 150px; /* Ajusta la altura deseada */
    object-fit: contain; /* Cambia aquí para asegurar que la imagen se vea completa */
    background: #f8f9fa; /* Fondo para llenar el espacio vacío si la imagen no cubre todo */
}


.image-container img {
    width: 100%;
    height: 150px; /* Ajusta la altura deseada */
    object-fit: cover; /* Asegura que las imágenes cubran completamente el área sin distorsionarse */
}

.form-check {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para las etiquetas sobre la imagen */
    padding: 5px;
    border-radius: 5px;
}

.delete-image-btn {
    position: absolute;
    top: 5px;
    left: 10px;
    border: none;
    background: transparent;
    color: red; /* Ícono rojo para la acción 'danger' */
    cursor: pointer;
    font-size: 24px; /* Tamaño del ícono */
    opacity: 0.7; /* Sutil transparencia para diseño menos intrusivo */
    transition: color 0.3s, transform 0.3s; /* Suave transición para interacciones */
}

.delete-image-btn:hover, .delete-image-btn:focus {
    color: darkred; /* Color más oscuro al pasar el mouse o enfocar para resaltar interactividad */
    transform: scale(1.1); /* Ligeramente más grande al interactuar */
    opacity: 1;
}

.image-container {
    position: relative;
    margin: 10px;
    display: inline-block; /* Alineación adecuada y manejo del espacio */
}

.image-container img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    background: #f8f9fa;
}

.hidden {
    display: none;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.form-group {
    margin-bottom: 1rem;
}

.form-check {
    margin-bottom: 1rem;
}

.form-check-label {
    margin-left: 0.5rem;
}

#edit-category-form .form-check {
    display: flex;
    align-items: center;
}

#edit-category-form .form-check input[type="checkbox"] {
    margin-left: 0;
}

.btn {
    margin-top: 1rem;
}
