{% extends 'admin/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Crear Categoría</h2>
    <form id="create-category-form" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-row">
        <div class="form-group col-md-6">
            {{ form.nombre.label(class="form-label") }}
            {{ form.nombre(class="form-control") }}
        </div>
        <div class="form-group col-md-6">
            {{ form.descripcion.label(class="form-label") }}
            {{ form.descripcion(class="form-control") }}
        </div>
            </div>
        <div class="form-group">
            <label for="image">Imagen</label>
            <input type="file" name="image" class="form-control-file" accept="image/*">
        </div>
        <button type="submit" class="btn btn-primary">Crear Categoría</button>
    </form>
</div>

<script>
document.getElementById('create-category-form').addEventListener('submit', function(event) {
    event.preventDefault();
    const formData = new FormData(this);
    fetch('{{ url_for("admin.crear_categoria") }}', {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token() }}'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            Swal.fire({
                icon: 'success',
                title: 'Éxito',
                text: data.message,
                timer: 1500,
                timerProgressBar: true,
                showConfirmButton: false
            }).then(() => {
                window.location.href = '{{ url_for("admin.listar_categorias") }}';
            });
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: data.message,
            });
        }
    })
    .catch(error => {
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Error al procesar la solicitud. Por favor, inténtelo de nuevo.'
        });
        console.error('Error:', error);
    });
});
</script>
{% endblock %}
