{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Responde estas preguntas para obtener recomendaciones personalizadas</h2>
    <form method="POST" action="{{ url_for('main.recomendaciones') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.pregunta1.label }}<br>
            {{ form.pregunta1(class='form-check-input') }} {{ form.pregunta1(class='form-check-label') }}
        </div>
        <div class="form-group">
            {{ form.pregunta2.label }}<br>
            {{ form.pregunta2(class='form-check-input') }} {{ form.pregunta2(class='form-check-label') }}
        </div>
        <div class="form-group">
            {{ form.pregunta3.label }}<br>
            {{ form.pregunta3(class='form-check-input') }} {{ form.pregunta3(class='form-check-label') }}
        </div>
        <div class="form-group">
            {{ form.pregunta4.label }}<br>
            {{ form.pregunta4(class='form-check-input') }} {{ form.pregunta4(class='form-check-label') }}
        </div>
        <div class="form-group">
            {{ form.pregunta5.label }}<br>
            {{ form.pregunta5(class='form-check-input') }} {{ form.pregunta5(class='form-check-label') }}
        </div>
        <div class="form-group">
            {{ form.pregunta6.label }}<br>
            {{ form.pregunta6(class='form-check-input') }} {{ form.pregunta6(class='form-check-label') }}
        </div>
        <div class="form-group">
            {{ form.pregunta7.label }}<br>
            {{ form.pregunta7(class='form-check-input') }} {{ form.pregunta7(class='form-check-label') }}
        </div>

        <div class="form-group">
            {{ form.submit(class='btn btn-primary') }}
        </div>
    </form>
</div>
{% endblock %}
